on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.12

    - run: pip install -r requirements.txt
    - run: pyinstaller main.py --noconsole --name amber-kawpow-miner
    - uses: actions/upload-artifact@v2
      with:
        path: dist/amber-kawpow-miner/amber-kawpow-miner.exe
